.row div{
    border: 5px solid white;
    height: 4rem;
}

.row.blue div{
    background-color: blue;
}
.row.orange div{
    background-color: orange;
}
.row.green div{
    background-color: green;
}
.row.red div{
    background-color: red;
}
